In [1]:
import re

In [9]:
pt = ['^[0-9]', '[^0-9]']
s = ['113', 'abc']
for value_p in pt:
    pt = re.compile(value_p)
    for value_s in s:
        res = pt.search(value_s)
        print(f'{value_s}: {res}')

113: <re.Match object; span=(0, 1), match='1'>
abc: None
113: None
abc: <re.Match object; span=(0, 1), match='a'>

In [10]:
pt = '\.(csv|html|py)$'
s = ['Sample.csv', 'Sample.exe', 'Sample.html', 'Sample.py']

pt = re.compile(pt)
for value in s:
    res = pt.search(value)
    if res is not None:
        print(value)

Sample.csv
Sample.html
Sample.py

In [13]:
import csv
f = open('Sample.csv', 'w')
w = csv.writer(f)
w.writerow(['Tokyo', 'money', 153])
f.close()

In [14]:
f = open('Sample.csv', 'r')
rd = csv.reader(f)
for row in rd:
    for col in row:
        print(col, end=',')
    print()
f.close()

Tokyo,money,153,

In [15]:
import random

In [17]:
n = random.randint(1, 10)
l = []
for i in range(1000):
    n = random.randint(1, 10)
    l.append(n)
    
min(l)

1

In [18]:
349/5

69.8

In [19]:
349/68

5.132352941176471

In [20]:
probability_of_winning = 349
probability_of_winning / 5

69.8

In [22]:
n = 1500
type(n) is str

False

In [24]:
a = 'end'
type(a) is int

False

In [25]:
l = [1, 4, 5, 6, 7]
sum(l)

23

In [34]:
def ball_goes_in():
    n = random.randint(1, 14)
    # ７でヘソに入賞
    if n == 7:
        count += 1
    else:
        pass
    return count

In [35]:
for i in range(6000):

In [37]:
f

In [62]:
count = 0
for i in range(9000):
    n = random.randint(1, 14)
    # ７でヘソに入賞
    if n == 7:
        count += 1
    else:
        pass

In [63]:
print(count)

672

In [64]:
9000/672

13.392857142857142

In [68]:
125/14

8.928571428571429

In [66]:
250/14

17.857142857142858

In [69]:
14/125

0.112

In [70]:
12/250

0.048

In [71]:
1/14

0.07142857142857142

In [72]:
8.928571428571429/125

0.07142857142857142

In [89]:
users_dict = {}
user_info_list = []

In [93]:
print('名前と年齢を入力してください。')
name = input('名前: ')
age = int(input('年齢： '))
user_info_list.append(age)
if (name in users_dict) and (age == users_dict[name][0]):
    print('アカウントが存在します')
else:
    money = int(input('所持金: '))
    user_info_list.append(money)
    users_dict[name] = user_info_list

名前と年齢を入力してください。

名前:  nami
年齢：  22
所持金:  20000

In [79]:
if re:
    print('True')
else:
    print('False')

False

In [94]:
users_dict

{'aki': [32, 3000, 32, 22, 20000], 'nami': [32, 3000, 32, 22, 20000]}

In [105]:
40*0.25

10.0

In [106]:
349*0.8

279.2

In [109]:
319*0.7

223.29999999999998

In [110]:
40*0.75

30.0

In [117]:
(319*0.7)/4

55.824999999999996

In [118]:
n = 450
n

450

In [119]:
float(n)

450.0

In [120]:
40*0.75

30.0

In [121]:
n = 15

In [122]:
n < 40*0.75

True

In [124]:
f = input('Please Enter')

Please Enter

In [126]:
type(f)

str

In [131]:
while True:
    f = input('Enter')
    if type(f) is str:
        break
type(f)

Enter

str

In [133]:
n
def func(n):
    return (1/40 + (1 - 1/40 - 1/150)) * func(n-1)

In [140]:
(1/40 + (1 - 1/40 - 1/150)) ** 20

0.8747827028937166

In [146]:
p_a = 1/30
p_b = 1/200

p = p_a / (p_a + p_b)
p*100

86.95652173913044

In [162]:
def user_action(n):
    while True:
        if n == 'firing':
            user = input('Enterキーを押すと玉が発射されます。')
        elif n == 'menu':
            user = input('Enterキーを入力すると次の画面に進みます。')
        elif n == 'replay_choice':
            user = input('獲得出玉で遊技を続けますか？ (y/n): ')
        elif n == 'replay':
            user = input('\n持ち玉を使用して遊技を行いますか？(y/n): ')
        elif n == 'replay_again':
            user = input('持ち玉を使い切りました。現金を使って遊技を継続しますか。(y/n)')
        elif n == 'play_end':
            user = input('お疲れ様でした。Enterキーを押すとメニュー画面が表示されます。。')
        elif n == 'user_choice':
            user = input('user:')
        if type(user) is str:
            return user

In [164]:
f = user_action('firing')
type(f)

Enterキーを押すと玉が発射されます。

str

In [149]:
user_action('menu')

Enterキーを入力すると次の画面に進みます。

In [154]:
user_action('replay')

持ち玉を使用して遊技を行いますか？(y/n):  k

In [166]:
f = user_action('replay_again')
print(f)

持ち玉を使い切りました。現金を使って遊技を継続しますか。(y/n) y

y

In [168]:
n = int
type(n)

type

In [169]:
0 % 50

0

In [170]:
1 - (89/90)**170

0.8503507567778152

In [174]:
1 - (69/70)**80

0.6837110220713903

In [172]:
1 - (59/60)**120

0.866926570015236

In [175]:
1/40 + (1 - 1/40 - 1/150)*100

96.85833333333333

In [189]:
1/25 / (1/25 + 1/180) * 100

87.8048780487805

In [190]:
import random

In [194]:
random.randint(1, 3)

3

In [200]:
l = []
for i in range(1000):
    n = random.randint(0, 2)
    l.append(n)
min(l)

0

In [201]:
max(l)

2

In [203]:
def user_action(n):
    def input_judge(user):
        if (user != 'y') and (user != 'n'):
            print('入力が正しくありません')
        else:
            return user
    while True:
        if n == 'firing':
            user = input('Enterキーを押すと玉が発射されます。')
        elif n == 'menu':
            user = input('Enterキーを入力すると次の画面に進みます。')
        elif n == 'bonus_start':
            user = input('<確率変動>に突入します。Enterキーを押してください。')
        elif n == 'bonus_end':
            user = input('<確率変動>を終了します。Enterを押すと結果画面が表示されます。\n')
        elif n == 'replay_choice':
            while True:
                user = input('\n獲得出玉で遊技を続けますか？ (y/n): ')
                user = input_judge(user)
                if user is not None:
                    break
        elif n == 'replay':
            while True:
                user = input('\n持ち玉を使用して遊技を行いますか？(y/n): ')
                if (user != 'y') and (user != 'n'):
                    print('入力が正しくありません')
                else:
                    break
        elif n == 'replay_again':
            while True:
                user = input('持ち玉を使い切りました。現金を使って遊技を継続しますか。(y/n)')
        elif n == 'finished':
            user = input('お疲れ様でした。Enterキーを押すとメニュー画面が表示されます。')
        elif n == 'user_choice':
            user = input('user:')
        if type(user) is str:
            return user

In [206]:
user_action('replay_choice')

獲得出玉で遊技を続けますか？ (y/n):  k

入力が正しくありません

獲得出玉で遊技を続けますか？ (y/n):

入力が正しくありません

獲得出玉で遊技を続けますか？ (y/n):  n

'n'

In [212]:
while True:
    try:
        age = int(input('age: '))
    except ValueError:
        print('半角英数字で入力して下さい（例：32）')
    else:
        break

age:  k

半角英数字で入力して下さい（例：32）

age:  n

半角英数字で入力して下さい（例：32）

age:  32

In [213]:
import datetime

In [214]:
dt = datetime.datetime.now()

In [223]:
d = f'{dt.year}/{dt.month}/{dt.day}'

In [227]:
import sqlite3

In [281]:
name = input('name: ')
age = int(input('age: '))
money = int(input('money: '))

name:  zoro
age:  21
money:  5000

In [284]:
cursor.execute('INSERT INTO user VALUES(?, ?, ?)', [name, age, money])

In [285]:
itr = cursor.execute('SELECT * FROM user')
for row in itr:
    print(row)

('aki', 32, 5000)
('luffy', 19, 3000)
('nami', 20, 30000)
('zoro', 21, 1111)
('zoro', 87, 11111)
('zoro', 21, 5000)

In [298]:
itr = cursor.execute('SELECT * FROM user WHERE (name == (?)) and (age == (?))', [name, age])

In [299]:
count = 0
for row in itr:
    n, a, m = row
    count += 1
    print(row)

('zoro', 21, 1111)
('zoro', 21, 5000)

In [296]:
print(count)count = 0
for row in itr:
    n, a, m = row
    count += 1
    print(row)

2

In [302]:
def func():
    name = input('name: ')
    age = int(input('age: '))
    money = int(input('money: '))
    if age > 20:
        return m
    else:
        return name, age, money

In [311]:
f = func()

name:  aki
age:  11
money:  5000

In [313]:
print(f[0], f[1], f[2])

aki 11 5000

In [314]:
my_dict = {}

In [315]:
name = input('name: ')
age = int(input('age: '))
money = int(input('money: '))
my_dict.update(name=name, age=age, money=money)

name:  aki
age:  32
money:  5000

In [316]:
my_dict

{'name': 'aki', 'age': 32, 'money': 5000}

In [317]:
machine = ''

In [322]:
machine += ' CR北斗'

In [319]:
machine

'CR北斗'

In [320]:
machine += 'CRマドマギ'

In [323]:
machine

'CR北斗CRマドマギ CR北斗'

In [343]:
itr = cursor.execute('SELECT * FROM user')

In [344]:
for row in itr:
    print(row)

In [338]:
itr = cursor.execute('SELECT * FROM user WHERE name = "aki"')
for row in itr:
    print(row)

('aki', 32, 5000)

In [336]:
type(itr)

sqlite3.Cursor

In [1]:
import sqlite3

In [ ]:
cursor.execute('CREATE TABLE user(name CHAR(20), age INT, money INT)')

In [2]:
con = sqlite3.connect('lesson.db')
cursor = con.cursor()

In [5]:
name = input('name: ')
age = int(input('age: '))
money = int(input('money: '))
cursor.execute('INSERT INTO user VALUES(?, ?, ?)', [name, age, money])

name:  luffy
age:  19
money:  5000

In [6]:
itr = cursor.execute('SELECT * FROM user')
for user in itr:
    print(user)

('luffy', 19, 5000)

In [7]:
con.commit()

In [8]:
con = sqlite3.connect('lesson.db')
cursor = con.cursor()
cursor.execute('CREATE TABLE pirates(name CHAR(20), age INT, money INT)')

In [12]:
count = 0
itr = cursor.execute('SELECT * FROM user')
for user in itr:
    count += 1
    print(user[2])
print(count)

5000
1

In [14]:
con.commit()

In [15]:
num = 5000
num = '+' + str(num)
num

'+5000'

In [1]:
import re

In [6]:
pt = '^([A-Z]|[a-z]){3}'
pt = re.compile(pt)

In [2]:
name = 'aki'

In [7]:
user = pt.search(name)
user

In [9]:
month = 12
day = 3
date = f'{month}-{day}'
type(date)

str

In [16]:
num = 0
count = 0
def func(n, m):
    global num
    global count
    num += n
    count += m

In [17]:
func(125, 1000)
print(num, count)

func(300, -250)
print(num, count)

func(200, -3500)
print(num, count)

func(120, 5000)
print(num, count)

125 1000
425 750
625 -2750
745 2250

In [18]:
count

2250

In [19]:
func(100, -121)
count

2129

In [22]:
itr = None
itr = 'aki'
itr

'aki'

In [8]:
name = 'sanji'
age = 21
money = 666

In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('lesson.db')
cursor = con.cursor()

In [9]:
cursor.execute('INSERT INTO user VALUES(?, ?, ?)', [name, age, money])

In [15]:
itr = cursor.execute('SELECT * FROM user')
for row in itr:
    print(row)

('luffy', 19, 20000)
('sanji', 21, 666)

In [13]:
itr = cursor.execute('SELECT * FROM user WHERE (name = (?)) and (age = (?))', [name, age])
for row in itr:
    name, age, money = row
print(money)

5000

In [13]:
check_name = 'luffy'
check_age = 19

In [23]:
name = 'luffy'
age = 19

In [12]:
chenge_money = 20000

In [14]:
cursor.execute('UPDATE user SET money = (?) WHERE (name==(?)) and (age==(?))', [chenge_money, check_name, check_age])

In [16]:
con = sqlite3.connect('spec.db')
cursor = con.cursor()

In [19]:
itr = cursor.execute('SELECT * FROM spec')
for row in itr:
    for col in row:
        print(col)
    print('-'*20)

CR北斗の拳
1/349
+300(80%) or +1500(20%)
確変:100%
当:1/25 or 転落:1/180[回転数:いずれか引くまで]
+300(25%) or +1500(75%)
88%
なし
--------------------
CRエヴァンゲリオン
1/319
+450(75%) or +1500(25%)
確変:70%、チャンスタイム:30%
当:1/90[回転数:170回]
ALL+1500
85%
なし
--------------------
CR魔法少女まどかマギカ
1/199
+450(90%) or +1500(10%)
確変:50%、通常:50%
当:1/70[回転数:80回]、<上位>当:1/80[回転数:120回]
ALL+1500
68% or 86%<上位>
確率変動中の当たり1/4で確率変動<上位>に突入
--------------------